/*
px: medida absoluta 
  - Fácil de manejar
  - No recomendado para responsive (tablets, celulares, smartwatchs, etc)
em: medida relativa al padre 
  - Difícil de manejar
rem: medida relativa al root 
  - Fácil de manejar a excepción de las medidas (por las conversiones a px).
  - Recomendado para responsive
  - Se puede volver fácil de manejar con un hack.

  Hack

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 16px;
  }
  Ahora 1rem = 10px
*/
:root {
  --white: #ffffff;
  --black: #212121;
  --primary: #FFC107;
  --secondary: #0097A7;
  --gray: #757575;
}


html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: 'Krub', sans-serif;
}

.title {
  text-align: center;
  font-size: 3.8rem;
}

.title span {
  font-size: 2rem;
}

.nav-bg {
  background-color: var(--secondary);

}

.container {
  width: 120rem;
  margin: 0 auto;
}

.navigation-main {
  display: flex;
  justify-content: space-between;
}

.navigation-main a{
  color: var(--white);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.navigation-main a:hover{
  background-color: var(--primary);
  color: var(--black);
}