/*
px: medida absoluta 
  - Fácil de manejar
  - No recomendado para responsive (tablets, celulares, smartwatchs, etc)
em: medida relativa al padre 
  - Difícil de manejar
rem: medida relativa al root 
  - Fácil de manejar a excepción de las medidas (por las conversiones a px).
  - Recomendado para responsive
  - Se puede volver fácil de manejar con un hack.

  Hack

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 16px;
  }
  Ahora 1rem = 10px
*/
:root {
  --white: #ffffff;
  --black: #212121;
  --primary: #FFC107;
  --secondary: #0097A7;
  --gray: #757575;
  --gray-light: ##DFE9F3;
}

/* Globals */

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* Hack box model*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: 'Krub', sans-serif;
  background-image: linear-gradient(to top, var(--gray-light) 0%, var(--white) 100%);
}

.shadow {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.54); /*Chrome*/
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.54); /*Firefox*/
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.54);
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1rem;
}

/* Typography */

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 3.8rem;
}

.title span {
  font-size: 2rem;
}

/* Navigation */

.nav-bg {
  background-color: var(--secondary);

}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.button {
  background-color: var(--secondary);
  color: var(--white);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .5rem;
  width: 90%;
  text-align: center;
}

.navigation-main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navigation-main {
    flex-direction: row;
    justify-content: space-between;
  }

  .button {
    width: auto;
  }

  .services {
    display: grid;
    /* grid-template-columns: 300px 300px;
    grid-template-rows: 200px 800px; */
    /* grid-template-columns: 33.3% 33.3% 33.3%; */
  
    /* grid: 200px 800px / 300px 300px; */
    
    /* Grid se encarga de hacer el cálculo a diferencia de abajo */
    /* grid-template-columns: 1fr 1fr 1fr;  */
    
    /* Tercera forma */
    grid-template-columns: repeat(3, 1fr); 
    column-gap: 1rem;
  }
}

.navigation-main a {
  display: block;
  text-align: center;
  color: var(--white);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.navigation-main a:hover {
  background-color: var(--primary);
  color: var(--black);
}

/* Hero */

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  margin-bottom: 2rem;
}

.content-hero {
  position: absolute;
  background-color: rgb(0, 0, 0, .7);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-hero h2,
.content-hero p {
  color: var(--white);
}

.location {
  display: flex;
  align-items: flex-end;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service h3 {
  color: var(--secondary);
  font-weight: normal;
}

.service p {
  line-height: 2; /*Interlineado*/
  text-align: center;
}

.service .icons {
  height: 15rem;
  width: 15rem;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}